Задание 1**
Напишите функцию, которая классифицирует фильмы из материалов занятия по следующим правилам:
- оценка 2 и меньше - низкий рейтинг
- оценка 4 и меньше - средний рейтинг
- оценка 4.5 и 5 - высокий рейтинг

Результат классификации запишите в столбец class

In [1]:
#Импорт библиотеки
import pandas as pd

In [2]:
# Cчитываем файл
ratings = pd.read_csv('ratings.csv')

#Читаем файл, в скобках указано количество строк для просмотра
ratings.head(10)

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205
5       1     1263     2.0  1260759151
6       1     1287     2.0  1260759187
7       1     1293     2.0  1260759148
8       1     1339     3.5  1260759125
9       1     1343     2.0  1260759131

In [12]:
# Создаем функцию которая классифицирует фильмы по рейтингу

def classificator(row):
    if row['rating']<=2:
        return 'низкий рейтинг'
    elif row['rating']<=4:
        return 'средний рейтинг'
    elif row['rating']>=4.5:
        return 'высокий рейтинг'

In [15]:
#Применяем функцию построчно
ratings['class'] = ratings.apply(classificator,  axis=1)
ratings.head(20)

    userId  movieId  rating   timestamp            class
0        1       31     2.5  1260759144  средний рейтинг
1        1     1029     3.0  1260759179  средний рейтинг
2        1     1061     3.0  1260759182  средний рейтинг
3        1     1129     2.0  1260759185   низкий рейтинг
4        1     1172     4.0  1260759205  средний рейтинг
5        1     1263     2.0  1260759151   низкий рейтинг
6        1     1287     2.0  1260759187   низкий рейтинг
7        1     1293     2.0  1260759148   низкий рейтинг
8        1     1339     3.5  1260759125  средний рейтинг
9        1     1343     2.0  1260759131   низкий рейтинг
10       1     1371     2.5  1260759135  средний рейтинг
11       1     1405     1.0  1260759203   низкий рейтинг
12       1     1953     4.0  1260759191  средний рейтинг
13       1     2105     4.0  1260759139  средний рейтинг
14       1     2150     3.0  1260759194  средний рейтинг
15       1     2193     2.0  1260759198   низкий рейтинг
16       1     2294     2.0  1260759108   низкий рейтинг
17       1     2455     2.5  1260759113  средний рейтинг
18       1     2968     1.0  1260759200   низкий рейтинг
19       1     3671     3.0  1260759117  средний рейтинг

Задание 2
Используем файл keywords.csv.

Необходимо написать гео-классификатор, который каждой строке сможет выставить географическую принадлежность определенному региону. Т. е. если поисковый запрос содержит название города региона, то в столбце ‘region’ пишется название этого региона. Если поисковый запрос не содержит названия города, то ставим ‘undefined’.

Правила распределения по регионам Центр, Северо-Запад и Дальний Восток:

geo_data = {

'Центр': ['москва', 'тула', 'ярославль'],

'Северо-Запад': ['петербург', 'псков', 'мурманск'],

'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']
}

Результат классификации запишите в отдельный столбец region.

In [16]:
geo_data = {

'Центр': ['москва', 'тула', 'ярославль'],

'Северо-Запад': ['петербург', 'псков', 'мурманск'],

'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск'] }

In [21]:
#Считываем файл
keywords =  pd.read_csv('keywords.csv')
keywords.head()

         keyword     shows
0             вк  64292779
1  одноклассники  63810309
2          порно  41747114
3           ютуб  39995567
4      вконтакте  21014195

In [26]:
#Создаем функцию, которая будет искать город и проставлять по нему регион

def geo_classificator(row):
    if 'москва' in row['keyword'] or 'тула' in row['keyword'] or 'ярославль' in row['keyword']:
        return 'Центр'
    elif 'петербург' in row['keyword'] or 'псков' in row['keyword'] or 'псков' in row['keyword']:
        return 'Северо-Запад'
    elif 'владивосток' in row['keyword'] or 'сахалин' in row['keyword'] or 'хабаровск' in row['keyword']:
        return 'Дальний Восток'
    else:
        return 'undefined'

In [28]:
#Применяем функцию построчно
keywords['region'] = keywords.apply(geo_classificator,  axis=1)
keywords.head()

         keyword     shows     region
0             вк  64292779  undefined
1  одноклассники  63810309  undefined
2          порно  41747114  undefined
3           ютуб  39995567  undefined
4      вконтакте  21014195  undefined

In [29]:
# Проверяем, сколько значений по каждому региону получилось и сколько 'undefined'
keywords['region'].value_counts()

undefined         99281
Центр               387
Северо-Запад        238
Дальний Восток       94
Name: region, dtype: int64